requests==2.32.3
pandas==2.2.2
numpy==2.0.1
matplotlib==3.9.2
seaborn==0.13.2
networkx==3.3
scikit-learn==1.5.2
jupyterlab==4.2.5
notebook==7.2.2
nbclient==0.10.0
jupyter-cache==1.0.0
jupyter-book==1.0.0
